{
  "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "safari>=8",
                        "android>=4",
                        "ie>=9"
                    ]
                },
                "modules": false,
                "loose": true
            }
        ],
        "stage-1",
        "react"
    ]
}
